#title {
    background-color: #ff4c68;
    color: #fff;
    
  

}

.container-fluid{
   padding: 3% 15% 10% !important ;
}
h1 {
    font-family: "montserrat-light",sans-serif;
    font-size: 3.5rem !important;
    line-height: 1.5 !important;
}
h3{

    font-family: "montserrat-bold";
}
p{
    color: #8f8f8f;
}
body{
    font-family: "montserrat";
}

      /*navbar css*/

.navbar-brand{
    font-size: 2.5rem!important;
    font-weight: bold!important;
    font-family: "ubuntu"!important;
}
.navbar{
    padding:0 0  4.5rem!important;
}
.nav-item{
    padding: 0 18px;

}
.nav-link{
    font-size: 1.2rem;
    font-family: "montserrat-light";

}
.download-button{
    margin: 5% 3% 5% 0;
}
.title-image{
    width: 30%;
    transform: rotate(25deg);
    position: absolute;
 
    
   
   
}


/**features **/
#features{
    padding: 7% 15%;
    position: relative;
    background-color: #fff;
    z-index: 1;
    

}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;

}
.icon:hover{
    color: #ff4c68;
}
 /*testimonials section*/

 .testimonials-text{
     font-size: 3rem;
     line-height: 1.5;
     text-align: center;
     font-family: "montserrat-bold";
     color: #fff;
 }
 .testimonial-image{

    width: 10%;
    border-radius: 100%;
    margin: 20px;
    
 }
 #testimonials{
     background-color: #ef8172;
     text-align: center;
     color: #fff;
     

 }
 .carousel-item{
    padding: 7% 15%;

 }



 /*press...*/

 #press{
     background-color: #ef8172;
     padding-bottom: 3%;
     text-align: center;
 }
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
/*pricing*/
#pricing{
    text-align: center;
    padding: 100px;
  
    line-height: 1.5;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}
.card{
    margin-top: 10%;
}
/*cta section */

#cta{
    text-align: center;
    background-color: #ff4c68;
    padding: 7% 15% 7%;
    color: #fff;
    font-family: "montserrat";
}
.cta-heading{
    font-size: 3.5rem;
    line-height: 1.5;
}
/*fotter section...*/
#footer{
    text-align: center;
    padding: 5% 15% 7%;
  
    background-color: #fff;
}
.footer-p{
    color: #8f8f8f;
    font-family: "montserrat-light";
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
}
.footer-sociel{
    margin: 10px;
}






